extends ../components/base.pug

block content 
    <table class="table table-striped listagem">
        <thead>
            <tr>
            <th>#</th>
            <th>Produto</th>
            <th>Validade</th>
            <th>Editar</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <th scope="row">1</th>
            <td>Bolacha</td>
            <td>20/12/2017</td>
            <td><a href="modal.html"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
            </tr>
            <tr>
            <th scope="row">2</th>
            <td>Arroz</td>
            <td>30/12/2017</td>
            <td><i class="fa fa-pencil" aria-hidden="true"></i></td>
            </tr>
            <tr>
            <th scope="row">3</th>
            <td>Farinha</td>
            <td>31/12/2017</td>
            <td><i class="fa fa-pencil" aria-hidden="true"></i></td>
            </tr>
        </tbody>
    </table>