extends ../components/base-modal.pug

block content 
      <h4 class="card-title">Mariazinha, muito obrigado!</h4>
      <h5 class="card-text">Você contribuiu com mais de cinco sorrisos. Seu saldo de sorrisos agora é 100. Lembrando que ao alcançar 500 sorrisos vc pode acompanhar uma entrega de alimentos! :)</h5>
      <a href="chat-consulta.html" class="btn btn-outline-primary">Ver</a>
