extends ../components/base-modal.pug

block content 
      <h4 class="card-title">Mariazinha, seu produto está vencendo!</h4>
      <h5 class="card-text">A bolacha tem vencimento para 20/12/2017! Vc já consumiu?</h5>
      <a href="chat-estoque.html" class="btn btn-outline-primary">Ver</a>
